node_modules/
.github/
.vscode/
bin/types
src/
coverage
*.test.*
*.md
!CHANGELOG.md
!README.md
!LICENSE.md
.eslintignore
.eslintrc.cjs
sonar-project.properties
vitest.config.ts
tsconfig.json
tsconfig.build.json
